 a, .quote {
     color: #001963;
 }
 body {
     max-width: 550px;
     background-color: #4ac6ff;
     color: #222;
 }

 .post {
     background-color: #a3e6d9;
     padding-bottom: 4px;
     border-bottom: 4px;
 }
 .meta {
     border-bottom: 2px solid black;
     padding: 4px;
     background-color: #ebffef;
 }
 .msg {
     padding-left: 12px;
     padding-right: 8px;
     text-align: justify;
 }

 img {
     max-width: 500px;
     text-align: center;
 }

  table {
     border-collapse: collapse;
 }

 th, td {
     padding: 4px;
     border: 1px solid black;     
 }
 th {
     text-align: right;
 }
