.quote {
     color: #789922;
 }
 body {
    width: 765px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffee;
    color: #880000;
 }

 .post, footer, header, div, td {
     background-color: #f0e0d6;
     padding-bottom: 4px;
     border-bottom: 4px;
 }
 .meta {
     border-bottom: 2px solid black;
     padding: 4px;
     background-color: #eeaa88;
	 color: #000;
 }

 th {
     background-color: #eeaa88;
     font-weight: bold;
 }

 .msg {
     padding-left: 12px;
     padding-right: 8px;
     text-align: justify;
 }
 
 table {
     border-collapse: collapse;
 }

 th, td {
     border: 1px solid #880000;     
     padding: 4px;
}

 th {
     text-align: right;
 }
 a { color:  #d24;font-weight bold}

 .msg  img {
     border: 1px solid #880000;     
     max-width: 500px;
     max-height: 500px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
