.quote {
     color: #789922;
 }
 body {
    width: 765px;
    margin-left: auto;
    margin-right: auto;     background-color: #ffffee;
color: #880000;
 }

 .post {
     background-color: #f0e0d6;
     padding-bottom: 4px;
     border-bottom: 4px;
 }
 .meta {
     border-bottom: 2px solid black;
     padding: 4px;
     background-color: #eeaa88;
	 color: #000;
 }
 .msg {
     padding-left: 12px;
     padding-right: 8px;
     text-align: justify;
 }
 
 img {
     max-width: 500px;
     text-align: center;
 }

 table {
     border-collapse: collapse;
 }

 th, td {
     padding: 4px;
     border: 1px solid #880000;     
 }
 th {
     text-align: right;
 }